.textWrapper {
  font-size: clamp(1.1rem, 2vw, 2.5rem);
  color: #000000;
  background-color: #edfaff;
  line-height: 1.53;
}

@media (max-width: 992px) {
  .textWrapper {
    font-size: 1.5rem;
    padding: 0;
  }

  .textWrapper br {
    display: none;
  }
}

@media (max-width: 768px) {
  .textWrapper {
    font-size: 1.2rem;
    line-height: 1.6;
  }
}
