.container{
  width: 100%;
}
.hero{
  width: 100%;
  height: 15rem;
  background-image: url("../../assets/Accommodation/accommodation.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.content{
  width: 90%;
  margin: 2rem auto;
}
.intro{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  line-height: normal;
  margin-bottom: 2rem;
  h1{
    font-size: 3rem;
    font-family: "Joti One";
    color: var(--text-blue);
  }
  p{
    font-size: 1.2rem;
  }
}
.shipSection{
  margin-bottom: 1rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
    h2{
      font-size: 1.5rem;
      position: relative;
      font-family: "Joti One";
      align-self: flex-start;
    }
    h2::after {
    content: "";
    display: block;
    width: 330%;
    height: 2px;
    position: absolute;
    bottom: 1rem;
    left: 15rem;
  }
  h3{
    font-size: 1.3rem;
    font-weight: 600;
  }
  a{
    font-weight: 600;
    transition: all 0.2s ease-in-out;
  }
  a:hover{
    transform: scale(1.1);
    font-weight: 800;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
}
.oeSection{
  color: var(--oe-title);
  h2::after {
    background-color: var(--oe-title);
  }
  h4{
    color: var(--oe-title);
  }
  button {
    top: 35%;
  }
}
.sgSection{
  color: var(--sg-title);
  h2::after {
    background-color: var(--sg-title);
  }
  h4{
    color: var(--sg-title);
  }
  button {
    top: 60%;
  }
}
.sdSection{
  color: var(--sd-title);
  h2::after {
    background-color: var(--sd-title);
  }
  h4{
    color: var(--sd-title);
  }
  button {
    top: 85%;
  }
}
@media (max-width:768px) {
}
@media (max-width:992px) {
  .shipSection{
    h2::after {
    width: 250%;
  }
}
}